# Archivos y directorios a ignorar durante el build
node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.test
.env.production
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.DS_Store
Thumbs.db
*.log
logs
*.tgz
*.tar.gz
.eslintcache
.stylelintcache